<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Horizon_Contabilidade.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="LocalDB" value="C:\Users\TATICO 1\Google Drive\C. TORRES SADALA EIRELI\Horizon\Horizon Contabilidade\Horizon Contabilidade2\Horizon Contabilidade\DB.accdb"/>

  </appSettings>
    <connectionStrings>
        <add name="Horizon_Contabilidade.Properties.Settings.Banco_de_dados1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Banco de dados1.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Horizon_Contabilidade.Properties.Settings.DBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DB.accdb"
            providerName="System.Data.OleDb" />
        <add name="Horizon_Contabilidade.Properties.Settings.DBConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Pedro Estudo\Google Drive\Dev\Horizon Contabilidade\Horizon Contabilidade\DB.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Horizon_Contabilidade.Properties.Settings.DBConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\TATICO 1\Desktop\Dev\Horizon Contabilidade-20200903T173144Z-001\Horizon Contabilidade\Horizon Contabilidade\DB.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Horizon_Contabilidade.Properties.Settings.DBConnectionString3"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\TATICO 1\Downloads\Horizon Contabilidade-20200904T170501Z-001\Horizon Contabilidade\Horizon Contabilidade\DB.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Horizon_Contabilidade.Properties.Settings>
            <setting name="Pastainicial" serializeAs="String">
                <value />
            </setting>
            <setting name="CaminhoDb" serializeAs="String">
                <value />
            </setting>
        </Horizon_Contabilidade.Properties.Settings>
    </userSettings>
</configuration>